/*Universal Styles*/

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 244, 233);
    color:rgb(158, 156, 156);
}

/*Header*/

#head {
    display: flex;
    justify-content: space-around;      
    align-items: center;
    color: white;
    background-image: url(ressources/bonbons/guimauves.jpg);
    background-size: cover;

    border-bottom: 0.1rem solid rgb(255, 243, 243);
    height: 18rem;
}


#title {
    font-size: 5rem;
    font-family: "Meow Script";
    word-spacing: 1rem;
    padding: 0.7rem;
    border: 0.35rem dotted rgb(255, 243, 243);;
    background-color: rgba(158, 156, 156, 0.336);
    
}

#candybar {
    text-align: center;
}
header {
    margin: auto;
}
#cart {
    float: right;
    margin-left: 6rem;
    font-weight: 600;
    position: absolute;
}
#nav {
    background-size: cover;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: rgb(250, 228, 218);
    border-bottom: 1px solid rgb(255, 243, 243);
}

nav li {
    list-style-type: none;
    display: inline-block; 
}

nav li a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 800;
}

#space {
    height: 3rem;
}

/*Main section*/

.candy {      
    background-size: cover;
    height: 3.5rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 228, 218);
    font-size: 1.8rem; 
    color: white; 
    border-bottom: 0.1rem solid rgb(255, 243, 243);
    border-top: 0.1rem solid rgb(255, 243, 243);
    z-index: 2;
}



.beers {
    font-size: 1.2rem;
}

.sugar {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 47rem;
    height: 51rem;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color:rgb(255, 250, 245);
    border: 0.3rem dotted rgb(250, 228, 218);
}
.photo {
   width: 12rem;
   height: 12rem;
}
.onecandy {
    display: grid;
    background-color: rgba(255, 255, 255, 0.76);
    grid-template: 11rem 2rem 2rem 3rem 3rem 2rem / 4.25rem 3.5rem 4.25rem;
    grid-template-areas: "photo photo photo"
               "title title title"
               "description description description"
               "price price price"
               "moins total plus"
               "cart cart cart";
    
    justify-items: center;
}

.photo {
    grid-area: photo;
    border-bottom: 1px solid rgb(255, 243, 243);;
}
.cart {
    grid-area: cart;
    background-size: cover;
    width: 100%;

}
.title {
    grid-area: title;
    
}
.description {
    grid-area: description;
    
}
.price {
    grid-area: price;
    font-weight: 600;
}
.moins {
    grid-area: moins;
    justify-self: right;
    
}
.plus {
    grid-area: plus;
    justify-self: left;
    

}
.total {
    grid-area: total;
       
}

.cart {
    
    color:rgb(158, 156, 156);
    border: none;
    font-weight: 800;
    background-color: rgb(250, 228, 218);
}

.plus,
.moins {
    background-color:rgb(250, 244, 233);
    border: 1px solid white;
}

footer {
    background-size: cover;
    height: 3.5rem;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 228, 218);
    font-size: 1rem; 
    color: white; 
    border-bottom: 0.1rem solid rgb(255, 243, 243);
    border-top: 0.1rem solid rgb(255, 243, 243);
    z-index: 2;  
    font-weight: 800;
}
