/*UNIVERSAL STYLES*/

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 244, 233);
    color:rgb(158, 156, 156);
}




/*HEADER*/

/*Overall layout*/
#header {
    display: flex;
    justify-content: center;      
    align-items: center;
    color: white;
    background-image: url(ressources/bonbons/guimauves.jpg);
    background-size: cover;
    border-bottom: 0.1rem solid rgb(255, 243, 243);
    height: 18rem;
    margin: auto;
}

/*Title 'My Candy Shop'*/
#title {
    font-size: 5rem;
    font-family: "Meow Script";
    word-spacing: 1rem;
    padding: 0.7rem;
    border: 0.35rem dotted rgb(255, 243, 243);;
    background-color: rgba(158, 156, 156, 0.336);   
}
#candybar {
    text-align: center;
}
.hide,
.hide2 {
    display: none;
}

/*Nav Bar*/
.nav {
    text-align:center;
    background-size: cover;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: rgb(250, 228, 218);
    border-bottom: 1px solid rgb(255, 243, 243);
}
nav li {
    list-style-type: none; 
    display: inline-block;        
}
nav li a {
    text-decoration: none;
    color: white;
    margin-right: 1rem; 
    font-size: 1.1rem;
    font-weight: 800;
    

}

/*Cart*/
#cart {
    right: 2rem;
    top: 1rem;
    margin-left: 2rem;
    font-weight: 600;
    position: absolute;
}

/*To plut header correctly*/
#space {
    height: 3rem;
}




/*MAIN SECTION*/

/*Section titles*/
.candy {      
    background-size: cover;
    height: 3.5rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 228, 218);
    font-size: 1.8rem; 
    color: white; 
    border-bottom: 0.1rem solid rgb(255, 243, 243);
    border-top: 0.1rem solid rgb(255, 243, 243);
    z-index: 2;
}

/*Layout for each candy section*/
.sugar {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 55rem;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color:rgb(255, 250, 245);
    border: 0.3rem dotted rgb(250, 228, 218);
    padding: 1rem 2rem;
}

/*Layout for each candy in one section*/
.onecandy {
    display: grid;
    margin-right: 2.2rem;
    margin-left: 2.2rem;
    background-color: rgba(255, 255, 255, 0.76);
    grid-template: 11rem 2rem 2rem 3rem 3rem 1.6rem 1.6rem / 4.25rem 3.5rem 4.25rem;
    grid-template-areas: "photo photo photo"
               "title title title"
               "description description description"
               "price price price"
               "moins total plus"
               "cart cart cart"
               "cartR cartR cartR";
    
    justify-items: center;
}
/*Grid Area*/
.photo {
    grid-area: photo;
    width: 12rem;
    height: 12rem;
    border-bottom: 1px solid rgb(255, 243, 243);;
}
.title {
    grid-area: title;    
}
.description {
    grid-area: description;   
}
.price {
    grid-area: price;
    font-weight: 600;
}
.moins {
    grid-area: moins;
    justify-self: right;   
}
.plus {
    grid-area: plus;
    justify-self: left;
}
.total {
    grid-area: total;      
}
.add {
    grid-area: cart;
}
.remove {
    grid-area: cartR;
    margin-top: 0.1rem;
}

/*Add and remove to cart buttons*/
.plus,
.moins {
    background-color:rgb(250, 244, 233);
    border: 1px solid white;
}

.cart {
    color:rgb(158, 156, 156);
    border: none;
    font-weight: 800;
    background-color: rgb(250, 228, 218);
    background-size: cover;
    width: 100%;
}




/*FOOTER*/

footer {
    background-size: cover;
    height: 3.5rem;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 228, 218);
    font-size: 1rem; 
    color: white; 
    border-bottom: 0.1rem solid rgb(255, 243, 243);
    border-top: 0.1rem solid rgb(255, 243, 243);
    z-index: 2;  
    font-weight: 800;
}




/*MEDIA QUERIES*/

/*Little phone sizes*/
@media only screen and (max-width: 330px) {
    #title {
        font-size: 3rem;
        font-family: "Meow Script";
        word-spacing: 1rem;
        padding: 0rem 2rem 0rem 2rem;
        border: 0.35rem dotted rgb(255, 243, 243);
        background-color: rgba(158, 156, 156, 0.336);   
    }
    .hide,
    .hide2 {
        display: block;
    }
    .nav {
        font-size: 0.8rem;
        height: 4.6rem;
    }
    nav li a {
        font-size: 0.8rem;
    }
    #space {
        height:4.6rem;
    }
    #cart {
        text-align: center;
        position: relative;
        top: 1rem;
        font-weight: 1000;
    }
    .sugar {
        width: 15rem;
        height: 160rem;
        padding: 0.6rem 0rem 0.6rem 0rem;
    }
    .candy {
        height: 2.5rem;
        font-size: 1.5rem;
    }
    footer {
        height: 5rem;   
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #me {
        text-align: center;
    }
}

/*Medium phone sizes*/
@media only screen and (min-width:330px) and (max-width: 620px) {
    #title {
        font-size: 4rem;
        font-family: "Meow Script";
        word-spacing: 1rem;
        padding: 0.7rem;
        border: 0.35rem dotted rgb(255, 243, 243);
        background-color: rgba(158, 156, 156, 0.336);   
    }
    .hide {
        display: block;
    }
    #space {
        height: 6.5rem;
    }
    .nav {
        height: 6.5rem;
        font-size: 0.9rem;
    }
    nav li a {
        font-size: 0.9rem;
    }
    #cart {
        text-align: center;
        position: relative;
    }
    .sugar {
        width: 20rem;
        height: 160rem;
        padding: 0.8rem 0rem 0.8rem 0rem;
    }
    footer {
        height: 5rem;   
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #me {
        text-align: center;
    }
}

/*Big phone sizes*/
@media only screen and (min-width: 620px) and (max-width: 710px) {
    .nav {
        height: 5.5rem;
    } 
    #cart {
        position: relative;
        text-align: center;
    }
    #space {
        height:5.5rem;
    }
    .sugar {
        width: 33rem;
        height: 80rem;
    }   
}

/*Tablet sizes*/
@media only screen and (min-width: 710px) and (max-width: 900px) {
    .nav {
        height: 5.5rem;
    }
    #cart {
        position: relative;
        text-align: center;
    }
    #space {
        height:5.5rem;
    }
    .sugar {
        width: 37.5rem;
        height: 80rem;
    }
}

/*Large screen sizes*/
@media only screen and (min-width: 1450px) and (max-width: 1700px) {
    #title {
        font-size: 6rem;
    }
    .sugar {
        width: 70rem;
        height: 55rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
}

/*Very large screen sizes*/
@media only screen and (min-width: 1700px) {  
    #title {
        font-size: 6.5rem;
    }
    .sugar {
        width: 100rem;
        height: 30rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
}


