/*Universal Styles*/

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*Header*/

#head {
    display: flex;
    justify-content: space-around;      
    align-items: center;
    color: white;
    background-image: url(ressources/bonbons/guimauves.jpg);
    background-size: cover;

    border-bottom: 0.1rem solid rgb(202, 200, 200);
    height: 15rem;
}


#title {
    font-size: 5rem;
    font-family: "Meow Script";
    word-spacing: 1rem;
    padding: 0.7rem;
    border: 3px dotted rgb(194, 192, 192);
    background-color: rgba(158, 156, 156, 0.336);
    
}

#candybar {
    text-align: center;
}
header {
    margin: auto;
}

#nav {
    background-size: cover;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 3.5rem;
    background-color: rgb(207, 207, 207);
    border-bottom: 1px solid rgb(212, 212, 212);
}

nav li {
    list-style-type: none;
    display: inline-block; 
}

nav li a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    font-size: 1.1rem;
}

#space {
    height: 3.5rem;
}

/*Main section*/

.candy {      
    background-size: cover;
    height: 3rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 207);
}


.band-candy h2 {
    
    
    font-size: 2rem; 
    color: white;
    
}


.sugar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    height: 50rem;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.photo {
   width: 12rem;
   height: 12rem;
}
.onecandy {
    display: grid;
    grid-template: 11rem 2rem 2rem 3rem 2rem / 4.5rem 3rem 4.5rem;
    grid-template-areas: "photo photo photo"
               "title title title"
               "description description description"
               "price price price"
               "moins total plus";
    border: 2px solid rgb(92, 92, 92);
    justify-items: center;
}

.photo {
    grid-area: photo;
    border-bottom: 1px solid black;
}
.title {
    grid-area: title;
    
}
.description {
    grid-area: description;
    
}
.price {
    grid-area: price;
}
.moins {
    grid-area: moins;
    justify-self: right;
    
}
.plus {
    grid-area: plus;
    justify-self: left;
    

}
.total {
    grid-area: total;
    
}